@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;

  --color-brand: #402e90;
  --font-system:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: var(--color-brand);
  @apply text-slate-900;
  font-family: var(--font-system);
}

#root {
  @apply min-h-screen;
}
